*.o
*.d
*.bin
*.elf
*.out
*.swp
*.swo
.git-ignore
*.so
cscope*
tags
TAGS
patches
compel
src/include/version.h
src/include/config.h
plugins/include/uapi/asm
plugins/include/uapi/std/syscall-codes.h
plugins/include/uapi/std/syscall.h
plugins/std/arch/x86/syscalls.S
